/*

-Set up
-Resets
-Style Guide + Custom Property

*/
html {
	/*----CSS CUSTOM PROPERTY----*/

	/*Background Colours */
--primary-a: 
--primary-b:
--secondary-a:
--secondary-b:
--background:
--error:
}
	/* Foreground colours/*
--on-primary:
--one-secondary:
--one-background:
--on-error:



body {
	background-color: #FFFFFF;
	color: #222222
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
	font-family: Raleway, Helvetica, Arial, Helvetica, sans-serif;
}
*/
html {
	--background: #fff;
	--foreground: #0065A4;
	--midground: #005393;
	--links: #56abff;
}

body {
	background-color: var(--background);
	color: var(--foreground);
	font: normal normal 1em;
	line-height: 2;
}

header {
	color: #005293;
}


.navigation-bar {
    width: 100%; 
    height: 4em;
    background-color: #0065A4;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 8em;
    height: 4em;
    margin-right: 3em;
    margin-top: 0;  
}
.navigation-bar > a {
    display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
    margin-right: 1em;      
	line-height: 4em;  
	font-family: "HindMadurai";
}

  .text-block {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	background-color: none;
	color: white;
	text-transform: capitalize;
	font-family: "HindMadurai";
  }

  .container {
	position: relative;
  }

  .school-picture {
	width: 100%;
	height: 100%;
}

  .container .btn {
	position: absolute;
	top: 11em;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #0065A4;
	color: white;
	font-family: "HindMadurai";
	font-size: 1em;
	text-transform: uppercase;
	padding: 1.5em 3.5em;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	border-color: white
  }

  #topbar {
	overflow: hidden;
	background-color: #0065A4;
  }
  
  
  #topbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 1.2em;
	font-family: "HindMadurai";
	text-decoration: none;
	text-transform: capitalize;
  }
  #topbar a:hover {
	background: #ddd;
	color: #0065A4;
  }
  #topbar a.active {
	background-color: #ddd;
	color: #0065A4;
  }

  h2 {
	font-family: "HindMadurai";
	text-transform: capitalize;
	width: 300px;
	border: 15px;
	padding: 20px;
	margin: 20px;
  }
  
  .overview-table {
	border-collapse: collapse;
	width: 100%;
  }

  .overview-table th, td {
	text-align: center;
	text-transform: capitalize;
	padding: 1.5em;
  }

  .overview-table tr:nth-child(even) {
	background-color: #f2f2f2;
  }

  .pathway {
	width: 50%;
	height: 50%;
  }

  p {
	font-family: "HindMadurai";
	width: 80%;
	border: 15px;
	padding: 30px;
	margin: 20px;
  }

  .career-list {
	width: 80%;
	border: 0px;
	padding: 10px;
	margin: 10px;
  }

  ul {
	width: 300px;
	border: 15px;
	padding: 30px;
	margin: 20px;
  }

  ul li {
	font-family: "HindMadurai";
	text-transform: capitalize;
	}

	ol li {
	font-family: "HindMadurai";
	text-transform: capitalize;
	}

	.column1 {
	float: left;
	width: 50%;
  }
	  
	  /* Clear floats after the columns */
  .row1:after {
	content: "";
	display: table;
	clear: both;
  }
  
  .footer {
	font-family: "HindMadurai";
	background-color: white;
	color: black;
	border-color: #0065A4;
  }

  .footer p {
	font-family: "HindMadurai";
	text-decoration: none;
	text-transform: capitalize;
	font-size: 1em;
	color: black;
  }
  .footer a {
	font-family: "HindMadurai";
	text-decoration: none;
	color: black;
  }
  .column2 {
	float: left;
	width: 25%;
  }
  
  /* Clear floats after the columns */
  .row2:after {
	content: "";
	display: table;
	clear: both;
  }

  #icon, img {
	  width: 2em;
	  height: 2em;
  }


  

@media screen and (min-width: 900px) {
	body {
		background-color: white;
	}

}