/*

-Set up
-Resets
-Style Guide + Custom Property

*/
html {
	/*----CSS CUSTOM PROPERTY----*/

	/*Background Colours */
--primary-a: 
--primary-b:
--secondary-a:
--secondary-b:
--background:
--error:
}
	/* Foreground colours/*
--on-primary:
--one-secondary:
--one-background:
--on-error:



body {
	background-color: #FFFFFF;
	color: #222222
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
	font-family: Raleway, Helvetica, Arial, Helvetica, sans-serif;
}